body{
    background-color: #fff;
}
.infoBienvenida{
    background-color: #8EB4E0;
}

.card-body {
    background: #8EB4E0; 
    border-color: #8EB4E0;
    border-radius: 0px 0px 25px 25px ;
}
.card{

    box-shadow:  0px 1px 0 hsl(174,5%,80%),
        0 0 5px rgba(0,0,0,.05),
        0 1px 3px rgba(0,0,0,.2),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.2),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.3);
    border-radius: 25px;
    border: 0px solid transparent;
}



.input-group-text{
    background:#034889 ;
    color:#f2f2f2;
    border-radius:0;
    border-color: #034889;
}
input[type=text] {
    border-radius:0;
    border-color: #f2f2f2;
}
input[type=password] {
    border-radius:0;
    border-color: #f2f2f2;
}


.jumbotron{
    background:#fff ; 
    color:#034889;
    
}
.footer{
   background:#fff;
   color: #034889;
   height: 80px;
   
}
.titleReconocelo{
    color: #034889;
}
.iconoColorSession{
    color: #6C7DAC;
}
.errorMessage{
    color: #B00000;
}