@import 'globalStyles.css';
body {
    background: var(--colorBlanco);
    font-family: 'Roboto Condensed', sans-serif;
}

.bg-ligh {
    background: var(--colorBlanco);
    border-color: var(--colorBlanco);
}

.input-group-text {
    background: var(--colorAzul);
    color: var(--colorBlanco);
}

.btn-primary {
    background: var(--colorAzul);
    border-color: var(--colorAzul);
    color: var(--colorBlanco3);
}

.btn-primary:hover {
    background: var(--colorMorado);
    border-color: var(--colorMorado);
    color: var(--colorAzul);
}

a:link {
    color: var(--colorAzul);
}

.errormessage {
    color: var(--colorRojo);
    text-align: var(--textAlingCenter);
}

.headerColor {
    background: var(--colorNegro);
}

.sizetopbottom {
    height: calc(var(--borderRadius)*10);
    color: var(--colorBlanco);
}

.colorhead {
    background: var(--colorAzul);
    color: var(--colorBlanco);
}

input[type=password] {
    border-radius: calc( var(--borderRadius) - 4px);
    text-transform: var(--textTransform);
}

#olvidoPassword:hover {
    color: var(--colorGris);
}

.upperCase {
    text-transform: var(--textTransform);
}

#errorMessage {
    display: none;
}

.navbar {
    background: var(--colorAzul);
}

a {
    color: var(--colorBlanco);
}

a:hover {
    color: var(--colorAzulMorado);
}

.navbar-toggler {
    color: var(--colorBlanco);
    background-color: var(--colorAzulMorado);
}

.nav-item a {
    color: var(--colorBlanco);
}

.nav-item a:hover {
    background-color: var(--colorBlanco);
    border-radius: calc(var(--borderRadius) + 6 px);
    color: var(--colorAzul);
}

.dropdown-menu {
    background-color: var(--colorAzul);
}

.dropdown-menu .dropdown-item {
    background-color: var(--colorAzul);
    color: var(--colorBlanco);
}

.dropdown-menu .dropdown-item:hover {
    color: var(--colorAzul);
}

#depositosPuntos:hover {
    background-color: var(--colorBlanco);
}

#depositosPuntosInsertar:hover {
    background-color: var(--colorBlanco);
}

#Depositos {
    float: left;
    width: 49%;
}

#Canjes {
    float: left;
    width: 49%;
}

.input-group-text {
    background: var(--colorAzul);
    color: var(--colorBlanco);
}

#entrarMonitorLogin {
    background: var(--colorAzul);
    border-color: var(--colorAzul);
    color: var(--colorBlanco3);
}

#entrarMonitorLogin:hover {
    background: var(--colorMorado);
    border-color: var(--colorMorado);
    color: var(--colorAzul);
}

.selectElementMonitor {
    color: var(--colorNegro);
}

.selectElementMonitor:hover {
    color: var(--colorAzul);
}

.colorSeleccion:hover {
    cursor: var(--cursor);
    background-color: var(--colorGris2);
    border-radius: var(--borderRadius);
}

.colorSeleccion:active {
    background-color: var(--colorGris);
    border-radius: var(--borderRadius);
}

.dataUserRecononoceloMonitor #configuracionUsuarioMonitor:hover {
    background-color: var(--colorBlanco);
}

.dataUserRecononoceloMonitor #salirReconoceloMonitor:hover {
    background-color: var(--colorBlanco);
}

.btn-color {
    color: white !important;
}

#sesionMonitor {
    display: none;
}

.color-sesionMonitor {
    color: white !important;
}

.borrarCatalogo {
    cursor: pointer;
}

.borrarCatalogo:hover {
    color: var(--colorRojo) !important;
    animation: apareciendo .5s ease-in-out;
}

.upload-catalogo {
    font-size: 50px;
    display: inline-block;
    position: relative;
    left: 50%;
    margin-bottom: 1rem;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes apareciendo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.apareciendo {
    animation-name: apareciendo;
}


/* Fin animaciones */