body {
    background: #FFF;
    font-family: 'Roboto', sans-serif;
}

.cardAyuda {
    border-color: #FFFFFF;
}

.card-bodyAyuda {
    border-color: #FFFFFF;
}

.iconsAyuda {
    color: #034889;
}

.iconsAyuda2 {
    color: #E64C13;
}

.AyudaFormularioRow {
    background-color: #e6eaed;
    border-color: #e6eaed;
}

.iconsAyuda3 {
    color: #8EB4E0;
}

.lblText {
    color: #E74B0F;
}

.btn-primary {
    background: #034889;
}

.advice {
    font-size: 12px;
}

.navcolor {
    background: #034889;
}

.btn-navbarcolor {
    background: #E74B0F;
}

.btn-outline-secondary {
    color: white;
    background: #034889;
    border-color: #034889;
}

.btn-outline-secondary:hover {
    /* color: #fff;*/
    background-color: #F25917;
    border-color: #E74B0F;
}

.cardsWelcomeBackgroud {
    background: #8FB5E1;
}

.btn-outline-dark {
    background: #8FB5E1;
    border-color: #4D90DC;
    color: #3C444D;
}

.btn-outline-dark:hover {
    /* color: #fff;*/
    background-color: #EC4B17;
    border-color: #EC4B17;
}

.btn-warning {
    background: #EC4B17;
    border-color: #E74B0F;
}

.btn-warning:hover {
    /* color: #fff;*/
    background-color: #F25917;
    border-color: #E74B0F;
}

.price {
    font-size: 1.2em;
}

.giftsArea {
    background: #f2f2f2;
}

.headerColor {
    background: #0B0909;
    color: #F25917;
}

.linkPrivacy {
    color: #F25917;
}

.dropdown-menu {
    background: #4d90dc;
}

.dropdown-item:hover {
    background: #f25917;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.space-ticket {
    padding-right: 30px;
}

.CerrarTicketAdmin {
    color: #034889;
}

.CerrarTicketAdmin:hover {
    color: #007bff;
}

/* Animaciones */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/* Fin animaciones */