/* Variables globales */

:root {
    /* Colores */
    --colorBlanco: #fff;
    --colorBlanco2: #e6eaed;
    --colorAzul: #034889;
    --colorNaranja: #E74B0F;
    --colorNaranja2: #F25917;
    --colorNaranja3: #EC4B17;
    /* fin colores */
    /* Aliniaciones */
    --textAlingCenter: center;
    /* Fin aliniaciones */
}


/* Fin variables globales */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--colorBlanco);
    font-family: 'Roboto', sans-serif;
}

.cardAyuda {
    border-color: var(--colorBlanco);
}

.card-bodyAyuda {
    border-color: var(--colorBlanco);
}

.iconsAyuda {
    color: var(--colorAzul);
}

.iconsAyuda2 {
    color: #E64C13;
}

.AyudaFormularioRow {
    background-color: var(--colorBlanco2);
    border-color: var(--colorBlanco2);
}

.iconsAyuda3 {
    color: #8EB4E0;
}

.lblText {
    color: var(--colorNaranja);
}

.btn-primary {
    background: var(--colorAzul);
}

.advice {
    font-size: 12px;
}

.navcolor {
    background: var(--colorAzul);
}

.btn-navbarcolor {
    background: var(--colorNaranja);
}

.btn-outline-secondary {
    color: var(--colorBlanco);
    background: var(--colorAzul);
    border-color: var(--colorAzul);
}

.btn-outline-secondary:hover {
    /* color: #fff;*/
    background-color: var(--colorNaranja2);
    border-color: var(--colorNaranja);
}

.cardsWelcomeBackgroud {
    background: #8FB5E1;
}

.btn-outline-dark {
    background: #8FB5E1;
    border-color: #4D90DC;
    color: #3C444D;
}

.btn-outline-dark:hover {
    /* color: #fff;*/
    background-color: var(--colorNaranja3);
    border-color: var(--colorNaranja3);
}

.btn-warning {
    background: var(--colorNaranja3);
    border-color: var(--colorNaranja);
}

.btn-warning:hover {
    /* color: #fff;*/
    background-color: var(--colorNaranja2);
    border-color: var(--colorNaranja);
}

.price {
    font-size: 1.2em;
}

.giftsArea {
    background: #f2f2f2;
}

.headerColor {
    background: #0B0909;
    color: var(--colorNaranja2);
}

.dropdown-menu {
    background: #4d90dc;
}

.dropdown-item:hover {
    background: var(--colorNaranja2);
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.space-ticket {
    padding-right: 30px;
}

.CerrarTicketAdmin {
    color: var(--colorAzul);
}

.CerrarTicketAdmin:hover {
    color: #007bff;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes apareciendo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.apareciendo {
    animation-name: apareciendo;
}


/* Fin animaciones */

a.borrarCarritoReconocelo {
    cursor: pointer;
}

.move-top {
    width: 34px;
    height: 34px;
    font-size: 40px;
    display: inline-block;
    position: fixed;
    bottom: 10%;
    right: 2%;
    z-index: 0;
    text-align: var(--textAlingCenter) !important;
}

#footerReconocelo {
    background: var(--colorAzul);
    color: var(--colorNaranja2);
}

.linkPrivacy {
    color: var(--colorNaranja2);
}

.linkPrivacy:hover {
    color: var(--colorBlanco) !important;
}

.textAvisoDePrivacidad {
    text-align: justify;
}

.avisoTitulo {
    text-align: center;
    color: var(--colorAzul);
}

.avisoTitulo label {
    font-size: 40px;
}

.avisoSubTitulo {
    text-align: center;
    color: #f07b1c;
}

.avisoSubTitulo label {
    font-size: 30px;
}

#avisoReconocelo {
    padding-right: 50px;
}

#ayudaReconocelo {
    float: left;
}