.navbar {
    background: #034889;
}

a {
    color: #fff;
}

a:hover {
    color: #6C7DAC;
}

.navbar-toggler {
    color: #fff;
    background-color: #6C7DAC;
}

#Depositos {
    float: left;
    width: 49%;
}

#Canjes {
    float: left;
    width: 49%;
}

.input-group-text {
    background: #034889;
    color: white;
}

#entrarMonitorLogin {
    background: #034889;
    border-color: #034889;
    color: #f2f2f2;
}

#entrarMonitorLogin:hover {
    background: #8EB4E0;
    border-color: #8EB4E0;
    color: #034889;
}

.selectElementMonitor {
    color: #000000;
}

.selectElementMonitor:hover {
    color: #034889;
}

.colorSeleccion:hover{
    cursor:pointer;
    background-color:#EAEAEA;
    border-radius: 4px;
}

.colorSeleccion:active{
    background-color:#CCCCCC;
    border-radius: 4px;
}