@import 'globalStyles.css';
html {
    scroll-behavior: smooth;
}

body {
    background: var(--colorBlanco);
    font-family: 'Roboto', sans-serif;
}

.center-image {
    display: block;
    margin: auto;
}

.cardAyuda {
    border-color: var(--colorBlanco);
}

.card-bodyAyuda {
    border-color: var(--colorBlanco);
}

.iconsAyuda {
    color: var(--colorAzul);
}

.iconsAyuda2 {
    color: #E64C13;
}

.AyudaFormularioRow {
    background-color: var(--colorBlanco2);
    border-color: var(--colorBlanco2);
}

.iconsAyuda3 {
    color: var(--colorMorado);
}

.lblText {
    color: var(--colorNaranja);
}

.btn-primary {
    background: var(--colorAzul);
}

.advice {
    font-size: calc(var(--borderRadius)*3);
}

.navcolor {
    background: var(--colorAzul);
}

.btn-navbarcolor {
    background: var(--colorNaranja);
}

.nav-item-menuReconocelo {
    transition: all 5s;
}

.btn-outline-secondary {
    color: var(--colorBlanco);
    background: var(--colorAzul);
    border-color: var(--colorAzul);
    transition: all 2s;
    box-shadow: 0 0px var(--colorAzul) inset;
}

.btn-outline-secondary:hover {
    /*background-color: var(--colorNaranja2);*/
    box-shadow: 0 70px var(--colorNaranja2) inset;
    border-color: var(--colorNaranja);
}

.cardsWelcomeBackgroud {
    background: #8FB5E1;
}

.btn-outline-dark {
    background: #8FB5E1;
    border-color: #4D90DC;
    color: #3C444D;
}

.btn-outline-dark:hover {
    /* color: #fff;*/
    background-color: var(--colorNaranja3);
    border-color: var(--colorNaranja3);
}

.btn-warning {
    background: var(--colorNaranja3);
    border-color: var(--colorNaranja);
}

.btn-warning:hover {
    /* color: #fff;*/
    background-color: var(--colorNaranja2);
    border-color: var(--colorNaranja);
}

.price {
    font-size: 1.2em;
}

.giftsArea {
    background: var(--colorBlanco3);
}

.headerColor {
    background: #0B0909;
    color: var(--colorNaranja2);
}

.dropdown-menu {
    background: #4d90dc;
}

.dropdown-item:hover {
    background: var(--colorNaranja2);
}

.scrollable-menu {
    height: auto;
    max-height: calc(var(--borderRadius)+496);
    overflow-x: hidden;
}

.space-ticket {
    padding-right: calc((var(--borderRadius)*7)+2);
}

.CerrarTicketAdmin {
    color: var(--colorAzul);
}

.CerrarTicketAdmin:hover {
    color: #007bff;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes apareciendo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.apareciendo {
    animation-name: apareciendo;
}


/* Fin animaciones */

a.borrarCarritoReconocelo {
    cursor: var(--cursor);
}

.move-top {
    width: calc((var(--borderRadius)*8)+2);
    height: calc((var(--borderRadius)*8)+2);
    font-size: calc(var(--borderRadius)*10);
    display: inline-block;
    position: fixed;
    bottom: 10%;
    right: 2%;
    z-index: 0;
    text-align: var(--textAlingCenter) !important;
}

#footerReconocelo {
    background: var(--colorAzul);
    color: var(--colorNaranja2);
}

.linkPrivacy {
    color: var(--colorNaranja2);
}

.linkPrivacy:hover {
    color: var(--colorBlanco) !important;
}

.textAvisoDePrivacidad {
    text-align: var(--textAlingJustify);
}

.avisoTitulo {
    text-align: var(--textAlingCenter);
    color: var(--colorAzul);
}

.avisoTitulo label {
    font-size: calc(var(--borderRadius)*10);
}

.avisoSubTitulo {
    text-align: var(--textAlingCenter);
    color: #f07b1c;
}

.avisoSubTitulo label {
    font-size: calc((var(--borderRadius)*10)+10);
}

#avisoReconocelo {
    padding-right: calc((var(--borderRadius)*10)+10);
}

#ayudaReconocelo {
    float: left;
}