@import 'globalStyles.css';
.upperCase {
    text-transform: var(--textTransform);
}

.errormessage {
    color: var(--colorRojo);
}

#errorMessage {
    display: none;
}

.icon-load {
    font-size: 60px;
    position: relative;
    left: 50%;
}