body {
    background: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
}

.bg-ligh {
    background: #FFFFFF;
    border-color: #FFFFFF;
}

.input-group-text {
    background: #034889;
    color: white;
}

.btn-primary {
    background: #034889;
    border-color: #034889;
    color: #f2f2f2;
}

.btn-primary:hover {
    background: #8EB4E0;
    border-color: #8EB4E0;
    color: #034889;
}

a:link {
    color: #034889;
}

.errormessage {
    color: red;
    text-align: center;
}

.headerColor {
    background: black;
}

.sizetopbottom {
    height: 40px;
    color: white;
}

.colorhead {
    background: #034889;
    color: white;
}

input[type=password] {
    border-radius: 0;
    text-transform: uppercase;
}

#olvidoPassword:hover {
    color: #cccccc;
}

.upperCase {
    text-transform: uppercase;
}

#errorMessage {
    display: none;
}

.navbar {
    background: #034889;
}

a {
    color: #fff;
}

a:hover {
    color: #6C7DAC;
}

.navbar-toggler {
    color: #fff;
    background-color: #6C7DAC;
}

.nav-item a {
    color: #FFFFFF;
}

.nav-item a:hover {
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #034889;
}

.dropdown-menu {
    background-color: #034889;
}

.dropdown-menu .dropdown-item {
    background-color: #034889;
    color: #FFFFFF;
}

.dropdown-menu .dropdown-item:hover {
    color: #034889;
}

#depositosPuntos:hover {
    background-color: #FFFFFF;
}

#depositosPuntosInsertar:hover {
    background-color: #FFFFFF;
}

#Depositos {
    float: left;
    width: 49%;
}

#Canjes {
    float: left;
    width: 49%;
}

.input-group-text {
    background: #034889;
    color: white;
}

#entrarMonitorLogin {
    background: #034889;
    border-color: #034889;
    color: #f2f2f2;
}

#entrarMonitorLogin:hover {
    background: #8EB4E0;
    border-color: #8EB4E0;
    color: #034889;
}

.selectElementMonitor {
    color: #000000;
}

.selectElementMonitor:hover {
    color: #034889;
}

.colorSeleccion:hover {
    cursor: pointer;
    background-color: #EAEAEA;
    border-radius: 4px;
}

.colorSeleccion:active {
    background-color: #CCCCCC;
    border-radius: 4px;
}

.dataUserRecononoceloMonitor #configuracionUsuarioMonitor:hover {
    background-color: #FFFFFF;
}

.dataUserRecononoceloMonitor #salirReconoceloMonitor:hover {
    background-color: #FFFFFF;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes apareciendo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.apareciendo {
    animation-name: apareciendo;
}


/* Fin animaciones */