body {
    background: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
}

.bg-ligh {
    background: #FFFFFF;
    border-color: #FFFFFF;
}

.input-group-text {
    background: #034889;
    color: white;
}

.btn-primary {
    background: #034889;
    border-color: #034889;
    color: #f2f2f2;
}

.btn-primary:hover {
    background: #8EB4E0;
    border-color: #8EB4E0;
    color: #034889;
}

a:link {
    color: #034889;
}

.errormessage {
    color: red;
    text-align: center;
}

.headerColor {
    background: black;
}

.sizetopbottom {
    height: 40px;
    color: white;
}

.colorhead {
    background: #034889;
    color: white;
}

input[type=password] {
    border-radius: 0;
    text-transform: uppercase;
}

#olvidoPassword:hover {
    color: #cccccc;
}

/* Animaciones */ 

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes apareciendo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.apareciendo {
    animation-name: apareciendo;
}


/* Fin animaciones */