:root{
    --colorRojo:#FF0000;
    /* */
    --textTransform:uppercase;
}

.upperCase {
    text-transform: var(--textTransform);
}

.errormessage {
    color: var(--colorRojo);
}

#errorMessage {
    display: none;
}