@import 'globalStyles.css';
body {
    font-family: 'Philosopher', sans-serif;
}

.upperCase {
    text-transform: var(--textTransform);
}

.errormessage {
    color: var(--colorRojo);
}

#errorMessage {
    display: none;
}